
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdc502;
  font: bold 10px arial, sans-serif;
}

li {
  float: right;
}

li a {
  display: block;
  color: #081E3F;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
  margin: 0;


}

li a:hover:not(.active) {
  color: white;
  background-color: #081E3F;
}

li a.active {
  color: #081E3F;
  background-color: #fdc502;
}

body {
	background-color: #081E3F;
}

h1, h2, h3, b {
  font-family: arial;
  color: white;
}


#test
{
  color: red;
}

#app
{
  text-align: left;
  font: bold 20px arial, sans-serif;
}